@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <title > BlueLotus</title>

    <!-- <img src="~/img/logot.png" alt="">  -->
    <link rel = "icon" href ="~/img/logot1.png"
            type = "image/x-icon">
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#showcase" > <img class="logo_1" src="~/img/logo.png" alt=""></a>
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a class="h" href="#showcase"><i class="fas fa-home"></i> Home</a></li>
            <li><a class="s" href="#services"> <i class="fas fa-user-cog"></i> Services</a></li>
            <li><a class="a" href="#about"> <i class="fas fa-toolbox"></i> About</a></li>
            <li><a class="c" href="#contact"> <i class="fas fa-envelope-open-text"></i> Contact</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>

        </ul>
    </nav>


    <section id="showcase">
        <div id="container">

            <div class="container">
                <h1>Blue Lotus</h1>
                <h2> <span> Digital Media</span></h2>

                <span class="txt-type" data-wait="3000" data-words='["Digital Marketing...", "Web Development...",
                 "Brand Building..."]'></span>
            </div>
        </div>

        <!-- wavey wavey -->
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
    </section>
    <!-- -------------------------------boxes--------------------------------------- -->
    <div class="boxes">
        <div class="box" data-aos="fade-right">
            <div class="inner_box">
                <span><i class="fas fa-code"></i></span>
                <h3>Web Development</h3>
            </div>
            <p>More than 60% of visitors judge your business based on their first visit to your website.
                We help you turn your visitors into Fan with our awesome web design.</p>
        </div>
        <div class="box" data-aos="fade-up">
            <div class="inner_box">
                <span><i class="fas fa-lightbulb"></i></span>
                <h3>Digital Marketing</h3>
            </div>
            <p>Digital marketing is one of the most effective ways to get highly qualified visitors.
                Your digital presence can be the deciding factor for your business growth.
                </p>
        </div>
        <div class="box" data-aos="fade-left">
            <div class="inner_box">
                <span><i class="fas fa-landmark"></i></span>
                <h3>Brand Building</h3>
            </div>
            <p>Brand building is the process of generating awareness and promotion of the 
                services of a company through direct advertising campaign. let us help. </p>
        </div>
    </div>
    <!-- -------------------------------END - boxes--------------------------------------- -->

    <!-- -------------------------------QUOTES--------------------------------------- -->
    <section id="quotes">
        <div class="quotes_content">
            <div class="heading" data-aos="flip-up">
                <h2>Expand your social reach with our powerful social media marketing!</h2>
            </div>
            <div class="paragraph" data-aos="flip-down">
                <p> We present you ocean of new opportinitues for your exponential groth.
                    This time everything is going towords digital marketing because it's the most effective and profit
                    able way to grow your business in the currrent digital world. Let's do it together.</p>
            </div>
            <span><a href="#contact" target="_self">Join Us</a></span>
        </div>
    </section>
    <!-- -------------------------------END - QUOTES--------------------------------------- -->

    <!-- ------------------------------  SERVICES--------------------------------------- -->
    <section id="services">
         
        <span>
            <h2 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500"> Our <span>Services</span></h2>
        </span>
        <div class="service">

            <div class="img" data-aos="fade-down-right">
                <div class="img_png">
                    <img class="image1" src="~/img/services/web.png" alt="web development">
                </div>
            </div>
            <div class="service_content" data-aos="fade-down-left">
                <span> <i class="fas fa-laptop-code fa-2x"></i>
                    <h2>Web Development</h2>
                </span>
                <p class="p_text">We build high performing marketing websites and rich in functionality that can lift
                    your business to
                    the next level. Create website with us to unlock countless possibilities regardless of geographic
                    location,
                    age and preference.</p>
                <div class="get">
                    <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                </div>

            </div>
        </div>

        <div class="service">
            <div class="reverse">
                <div class="service_content" data-aos="fade-up-right">
                    <span><i class="fas fa-ad fa-2x"></i>
                        <h2>Digital Marketing</h2>
                    </span>
                    <p>We helps you connect, converse, collaborate and co-create with your target customers. We
                        understand the
                        different avenues of digital marketing and also know how to bring it
                        all together.We get to know your goals, then develop custom digital strategies to achieve them.
                    </p>
                    <div class="get">
                        <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                    </div>

                </div>
                <div class="img" data-aos="fade-up-left">
                    <div class="img_png">
                        <img class="image2" src="~/img/services/digital.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="service">
            <div class="img" data-aos="fade-down-right">
                <div class="img_png">
                    <img class="image1" src="~/img/services/brand 1.png" alt="">
                </div>
            </div>
            <div class="service_content" data-aos="fade-down-left">
                <span><i class="fas fa-campground fa-2x"></i>
                    <h2>Brand Building</h2>
                </span>
                <p>Brand is what we do our business for. Brand is how people recognize us through. Let us shape your
                    business’s
                    brand through tested and proven methods so that your business will always spark amid cutthroat
                    competition in your line of industry.</p>
                <div class="get">
                    <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                </div>

            </div>
        </div>

        <div class="service">
            <div class="reverse">
                <div class="service_content" data-aos="fade-up-right">
                    <span><i class="fas fa-palette fa-2x"></i>
                        <h2>Graphic Design</h2>
                    </span>
                    <p>We design Graphics for your website, social media and for branding which optimizes your
                        marketing efforts across all channels and is key to building a professional brand. Being
                        consistent
                        in your marketing collateral allows your brand to be easily recognizable and allows your
                        customers quickly get
                        familiar with what your company has to offer.</p>
                    <div class="get">
                        <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                    </div>

                </div>
                <div class="img" data-aos="fade-up-left">
                    <div class="img_png">
                        <img class="image2" src="~/img/services/graphic.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="service">
            <div class="img" data-aos="fade-down-right">
                <div class="img_png">
                    <img class="image1" src="~/img/services/analysis.png" alt="analysis">
                </div>
            </div>
            <div class="service_content" data-aos="fade-down-left">
                <span><i class="fas fa-chart-pie fa-2x"></i>
                    <h2>Market research and analysis</h2>
                </span>
                <p>We gather, analyze & interpret information about a market of a product/service, and also about the
                    past, present,
                    competitors, and potential customers for product/service to be offered. And research will be done on
                    the basis of
                    characteristics, spending habits, location and needs of
                    your business’s target market.</p>
                <div class="get">
                    <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                </div>

            </div>
        </div>

        <div class="service">
            <div class="reverse">
                <div class="service_content" data-aos="fade-up-right">
                    <span> <i class="fas fa-user-friends fa-2x"></i>
                        <h2>Social media management</h2>
                    </span>
                    <p>Social networks have now become a new marketplace for many business. It is there where consumer
                        lies.
                        And yet effectively managing social media is often hectic and time consuming for many business
                        owners.
                        This is where we come in. We act as helping hand for business owners to create contents and
                        posts so
                        that they can focus on business growth.</p>
                    <div class="get">
                        <a href="#contact"> <i class="far fa-comments"></i>Get a Consultation</a>
                    </div>

                </div>
                <div class="img" data-aos="fade-up-left">
                    <div class="img_png">
                        <img class="image2" src="~/img/services/socialf.png" alt="">
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- ------------------------------ END- SERVICES--------------------------------------- -->
    <!-- ------------------------------ sticky column--------------------------------------- -->
    <section id="Sticky">
        <div class="sticky">

            <img class="sticky_img" src="~/img/logo.png" alt="Lotus">

            <span>
                <h3>Instead of interrupting, work on attracting.</h3>
            </span>
            <div class="contact_no">
                <p>9801418682</p>
            </div>
        </div>
    </section>
    <!-- ------------------------------ END-sticky column--------------------------------------- -->

    <!-- -------------------------------Who Are We-------------------------------------- -->

    <section id="about">
        ..
        <div class="about_content">
            <h2 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500"> Who <span>Are we</span> </h2>
            <div class="about_container">
                <div class="image" data-aos="zoom-out-right">
                    <img class="img" src="~/img/about2.png " alt="">
                </div>
                <div class="text" data-aos="zoom-out-left">
                    <p>We bring life to your business. What we really do is partner wi
                        th your company to collectively work hard, build a distinctive brand, drive more
                        traffic, and exponentially grow your sales. If that means new social media campaign, more SEO,
                        and a kickass content creation, that’s what we’ll do. The world is changing and yes the demands
                        of people are changing with the change in technology. We want to see results for our clients,
                        and we leverage that passion to make a difference with our digital marketing services — every
                        day. We take the time to understand your business and t
                        he competitive space so we can deliver beautiful websites and handsome marketing strategies that
                        deliver results.
                    </p>
                </div>

            </div>

        </div>
        <section>
            <!-- -------------------------------END - Who Are We-------------------------------------- -->

            <!-- contact form -->
            <section id="contact">
                <div class="overlay">
                    <div class="contact_content">
                        <h2> <span>Contact</span> Us</h2>
                        <p>Let's Discuss About All Topics</p>
                    </div>
                    <div class="contact_container">
                        <div class="contactInfo" data-aos="fade-right">
                            <div class="box">
                                <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                                <div class="text">
                                    <h3>Address</h3>
                                    <p>Atithisadhan Birtamod, <br>Jhapa</p>
                                </div>
                            </div>
                            <div class="box">
                                <div class="icon"><i class="far fa-paper-plane"></i></i></div>
                                <div class="text">
                                    <h3>Email</h3>
                                    <p>bluelotusdigitalmedia@gmail.com</p>
                                </div>
                            </div>
                            <div class="box">
                                <div class="icon"><i class="fas fa-phone-square-alt"></i></div>
                                <div class="text">
                                    <h3>Phone</h3>
                                    <p>9801418682</p>
                                </div>
                            </div>
                        </div>
                        <div class="contactForm" data-aos="fade-left">
                            <form>
                                <h2>Send Message</h2>
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span>Full name</span>
                                </div>
                                <div class="inputBox">
                                    <input type="text" name="" required="required">
                                    <span>Email</span>
                                </div>
                                <div class="inputBox">
                                    <textarea required="required"></textarea>
                                    <span>Your Message</span>
                                </div>
                                <div class="inputBox">
                                    <input type="submit" name="" value="send">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <div class="footer">
                <div class="copyright">
                    &copy;2021-2022 ALL OF THE RIGHTS RESERVED: <a href="#"> BlueLotusDigitalMarketing Pvt.Ltd.</a>
                </div>
                <div class="s_icon">
                    <a href="https://www.facebook.com/bluelotusdigital" target="_blank"><i
                            class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>

                </div>
            </div>
            <!-- JQuery CDN -->
            
            
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                AOS.init({
                    offset: 200,
                    duration: 1000
                });
            </script>
            <script>
const mainMenu = document.querySelector('.mainMenu');
const closeMenu = document.querySelector('.closeMenu ');
const openMenu = document.querySelector('.openMenu ');

const h = document.querySelector('.h');
const s = document.querySelector('.s');
const a = document.querySelector('.a');
const c = document.querySelector('.c');

 



openMenu.addEventListener('click',show);
closeMenu.addEventListener('click',close);
h.addEventListener('click',close);
s.addEventListener('click',close);
c.addEventListener('click',close);
s.addEventListener('click',close);


function show(){
    mainMenu.style.display = 'flex';
    mainMenu.style.top = '0';
}
function close(){
    mainMenu.style.top = '-100%';
}

 

// Sticky menu background
window.addEventListener('scroll', function() {
  if (window.scrollY > 150) {
    document.querySelector('nav').style.opacity = 0.8;
  } else {
    document.querySelector('nav').style.opacity = 1;
  }
});

// Smooth Scrolling
$('nav a,#quotes a, #services a').on('click', function(event) {
  if (this.hash !== '') {
    event.preventDefault();

    const hash = this.hash;

    $('html, body').animate(
      {
        scrollTop: $(hash).offset().top - 130
      },
      500
    );
  }
});

 


// ES6 Class
class TypeWriter {
    constructor(txtElement, words, wait = 3000) {
      this.txtElement = txtElement;
      this.words = words;
      this.txt = '';
      this.wordIndex = 0;
      this.wait = parseInt(wait, 10);
      this.type();
      this.isDeleting = false;
    }
  
    type() {
      // Current index of word
      const current = this.wordIndex % this.words.length;
      // Get full text of current word
      const fullTxt = this.words[current];
  
      // Check if deleting
      if(this.isDeleting) {
        // Remove char
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        // Add char
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }
  
      // Insert txt into element
      this.txtElement.innerHTML = `<span class="txt">${this.txt}</span>`;
  
      // Initial Type Speed
      let typeSpeed = 200;
  
      if(this.isDeleting) {
        typeSpeed /= 2;
      }
  
      // If word is complete
      if(!this.isDeleting && this.txt === fullTxt) {
        // Make pause at end
        typeSpeed = this.wait;
        // Set delete to true
        this.isDeleting = true;
      } else if(this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        // Move to next word
        this.wordIndex++;
        // Pause before start typing
        typeSpeed = 350;
      }
  
      setTimeout(() => this.type(), typeSpeed);
    }
  }
  
  
  // Init On DOM Load
  document.addEventListener('DOMContentLoaded', init);
  
  // Init App
  function init() {
    const txtElement = document.querySelector('.txt-type');
    const words = JSON.parse(txtElement.getAttribute('data-words'));
    const wait = txtElement.getAttribute('data-wait');
    // Init TypeWriter
    new TypeWriter(txtElement, words, wait);
  }
            </script>
            <!-- <script src="../dist/js/app.js"></script>
            <script src="../dist/js/typewriter.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://kit.fontawesome.com/c632cddd45.js" crossorigin="anonymous"></script>
</body>

</html>